{% extends "base.html" %}

{% block content %}
<div class="container">

  <div class="row fix-height-30">
    <div class="col s12 l12">
      <div id="myfirstchart"></div>
    </div>
  </div>

  <!-- Controller -->
  <div class="row fix-height-70">
    <div class="col s12 l6 fix-height-100">

      <div id="controller">

        <div class="row">
          <img id="pepper_eye" src="{{ static_url('images/placeholder_640x360.png') }}" class="col s12"/>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <label for="access_token">Enter Access Token</label>
            <input type="text" id="access_token">
            <a id="submit_access_token" class="col s12 grey darken-3 waves-effect waves-light btn">ロボットに接続</a>
          </div>
        </div>

      </div>
    </div>


    <div class="col s12 l6">
      <div class="row">
        <div id="chat" class="col s12">
        </div>

        <div class="input-field col s12">
          <label for="say_text">Enter Text</label>
          <input type="text" id="say_text" required>
          <a id="submit_text" class="col s12 waves-effect waves-light btn">ロボットに送信</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Controller -->
</div>
{% end %}

{% block bottom_line %}

<script>
  var chart_data = [];
  var chart = new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'myfirstchart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: chart_data,
  // The name of the data record attribute that contains x-values.
  xkey: 'time',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['value'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Probability']
  });
</script>
<script src="{{ static_url('js/reconnecting-websocket.min.js') }}"></script>
<script src="{{ static_url('js/websocket.js') }}"></script>
{% end %}