{% extends "base.html" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.2/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.min.js"></script>

<!-- joewalnes/reconnecting-websocket https://github.com/joewalnes/reconnecting-websocket -->
<script src="{{ static_url('js/reconnecting-websocket.min.js') }}"></script>

<!-- http://momentjs.com/ -->
<script src="{{ static_url('js/moment.min.js') }}"></script>

<script src="{{ static_url('js/models.js') }}"></script>
<script src="{{ static_url('js/view.js') }}"></script>
<script src="{{ static_url('js/index.js') }}"></script>
<link rel="stylesheet" href="{{ static_url('css/index.css') }}" type="text/css"/>

<script>
    var INITIAL_DATA = {% raw protocols %};
</script>
{% end %}

{% block body %}
<div class="row">
    <div id="dashboard" class="col-md-12">
        <target-tracker  v-for="t in trackers" :t="t"></target-tracker>
    </div>
</div>

<script type="text/x-template" id="target-tracker-template">
<div class="row s-chart" >
    <div class="col-md-12">
        <h3>Sensor: [[t._id]]  ([[t.getElapse()]]s)</h3>
        <div class="col-md-12">
            <button id="[[t._id]]_prediction_btn" type="button" 
                v-on:click="toggle_feedback"
                v-bind:class="['btn', feedbacking ? 'btn-primary' : 'btn-secondary']">
                Feedback
            </button>
        </div>
        <div class="col-md-12">
            <canvas id="[[t._id]]_prediction" height=60></canvas>
        </div>
    </div>
    <div class="col-md-12">
        <canvas id="[[t._id]]_moving_rate" height=60></canvas>
    </div>
    <div class="col-md-12">
        <canvas id="[[t._id]]_speed" height=60></canvas>
    </div>
</div>
</script>
{% module xsrf_form_html() %}
{% end %}
