/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 html, body {
   background-color: #fafafa;
   height:100%;
   margin:0;
 }

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  height: calc(100% - 40px);
}

@media only screen and (min-width: 601px) {
  .container {
    width: 95%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 95%;
  }
}

nav {
  height: 40px;
  line-height: 40px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 40px;
    line-height: 40px;
}

nav .button-collapse i {
    height: 40px;
    line-height: 40px;
}

nav .brand-logo {
    font-size: 1.6rem;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 40px;
        line-height: 40px;
    }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

div.balloon-wrapper {
}

div.balloon-wrapper::after {
			   clear: both;
			   content: "";
			   display: block;
			   line-height: 0;
}

.balloon {
  min-height: 60px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  margin: 15px auto;
  padding: 13px;
}

.msg-container {
    word-wrap:break-word;
}

.avator-img {
  width: 75px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  background-color:white;
  box-shadow: 0px 0px 0px 3px #C0C0C0;
  -moz-box-shadow: 0px 0px 0px 3px #C0C0C0;
  -webkit-box-shadow: 0px 0px 0px 3px #C0C0C0;
  margin-top: 5px;
  margin: 15px auto;
}

#chat {
overflow: scroll;
}

.fix-height {
height: calc(100% -250px);
}

.fix-height-20 {
height: 20%;
}

.fix-height-70 {
height: 70%;
background-color: red;
}

.fix-height-100{
height: 100%;
background-color:yellow;
}

.fix-height-30 {
height: 30%;
background-color: blue;
}